

/*//////////////////////////////////////////////////////////////////
[ 이미지 미리보기 내가 넣은 것  by shy]*/

.img_wrap{
	width:100%;
	text-align:center;
	overflow:hidden;
	max-height:600px;
	margin-bottom:50px;
}
.img_wrap img{
	margin-bottom:50px;
	display: block;
	width:100%;
	height:auto;
	border:4px #fff solid;
	
}
